/* Signin.css */
.SignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.sign-in-form {
  width: 400px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.SignIn-name {
  font-size: 24px;
  margin-bottom: 20px;
}

.line {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-bottom: 20px;
}

.lineup {
  border: 1px solid hsla(0, 0%, 0%, 0.488);
  margin-bottom: 30px;
  width: 100%;
}

label {
  font-weight: 500;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 24px);
  border: 1px solid #ccc;
  border-radius: 8px;
}

button.signInBtn {
  width: 100%;
  padding: 10px;
  background-color: rgb(74 222 128);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button.signInBtn:hover {
  background-color: #2980b9;
}
