.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-right: 40px; /* Increase the right margin */
}

.footer-content ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-content li {
    margin-right: 20px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: #ffd700;
}