.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
}

.popup-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

h2 {
  color: black;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input {
  color: black;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 90%;
}

.btn-submit,
.btn-close-popup {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgb(74 222 128);
  margin: 5px;
}

.btn-open-popup {
  background-color: rgb(74 222 128);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.buttons-popup {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
