.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.add-task-button {
  background-color: rgb(74 222 128);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 50%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 90%;
}

.card-body {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-name-input,
.card-description-input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
}

.card-name-input {
  font-size: xx-large;
  text-align: left;
}

.btn-secondary {
  background-color: rgb(74 222 128);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  margin: 10px;
}

.btn-secondary:hover {
  background-color: rgb(74 222 128);
}

.card-buttons {
  display: flex;
  flex-direction: row;
  margin: 5px;
  row-gap: 10px;
}
